<nb-card accent="warning">
    <nb-card-header><b>READ BEFORE FILLING OUT THE PLAN</b></nb-card-header>
    <nb-card-body>
      For reasons of integrity control and progress of the planning result, after
      filling each question with the final answer, it is necessary to check the <b>"Done" checkbox</b>.<br><br>
      Each question has its own corresponding <b>"Done" checkbox</b>. Usually located below or to the right of the
      answer.<br><br>
      <label style="padding-left: 10px">What it looks like: <br>
        <nb-checkbox status="primary">Done</nb-checkbox>
      </label><br>
      <hr class="solid">
      To start filling out the assessment plan, it is necessary to click on the <b>"Edit Section"</b>
      button located at the top right of each section.<br><br>
      <label style="padding-left: 10px">What it looks like: <br><br>
        <button class="fa-pull-right padding-right" ghost nbButton size="medium"
                status="success">
          <nb-icon icon="edit-2-outline"></nb-icon>
          EDIT SECTION
        </button>
      </label><br>
    </nb-card-body>
  </nb-card>