<nb-card >
    <nb-card-header class="title"><b>About Usabivalid</b></nb-card-header>
    <nb-card-body >
        The usabivalid tool is an application that leads the user to create an assessment plan to evaluate the usability of Smart City applications. This tool was developed to mainly help non-specialists in design, based on principal aspects from usability to accomplish a satisfying application. Furthermore, it is important to highlight the base knowledge used in this software that is explained and informed through the use, aiming at the user learning instead of only using the software with no understanding of it.<br><br>
     
    </nb-card-body>
  </nb-card>