.bottom-margin {
  margin-bottom: 30px;
}

.bottom-margin-light {
  margin-bottom: 15px;
}

.top-margin-checkbox {
  margin-top: 5px;
}

.top-margin {
  margin-top: 30px;
}

.padding-right {
  float: right;
}

.vertical-center {
  margin: auto;
  width: 50%;
  float: left;
}

.teste {
  float: left;
}

nb-checkbox:not(:only-child) {
  margin-right: 1.5rem;
}

.my-tooltip {
  white-space: pre-line;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.button-space {
  margin-left: 15px;
}
.not-complete {
  background-color: #d9d9d9 !important;
  color: #1a1f33 !important;
}
.green-color{
  background-color: rgb(135, 175, 135) !important;
  color: rgb(14, 90, 14) !important;
}